@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat:400,700);

body{
  font-family:'Open Sans',sans-serif;
}
main{
    margin: 50px;
}
header, footer {
    background-color: rgb(71, 156, 253);
    text-align: center;
}
footer{
        padding: 5px;
}
.nav{
        background-color: rgb(0, 119, 255);
        color:white;
        padding: 10px;
        border-radius: 6px;
}
img{
      position: relative;
      left: 25%;
}
a {
    text-decoration: none;
}
footer{
    text-align: center;
}
.icon{
    position: relative;
    font-size: 30px; 
    color: white;
}
